/* Proyecto */

.proyecto {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.proyecto img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
}

.proyecto a {
    text-decoration: none;
    margin-top: 0.5rem;
    font-weight: bold;
}